<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action=""  method="post" >
  Insta_id:
  <input type="text" name="insta_id" placeholder="sherlock001">
  <br>
  User:
   <input type="text" name="user" placeholder="Sherlock Holmes">
  <br>
  Password:<input type="text" name="pass" placeholder="pass123">
  <br>
  Hashtag:
  <input type="text" name="hash_tag" placeholder="anime, reading">
  <br><br>
  Maxpost:
  <input type="text" name="max_post" placeholder="10">
  <br><br>
  
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, </p>

</body>
</html>
