!DOCTYPE html>
<html>
  <head>
    <title>IGH - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Create User</h1>
      <br>
      <form action="" method="post">
        <br>
        User: <input type="text" placeholder="email" name="email" value= "{{details['email']}}">
         <br><br>
        Password: <input type="password" placeholder="Password" name="password"  value=" {{details['password'] }}">
        Confirm Password: <input type="password" placeholder="Password" name="confirmpassword" >
           <br><br>
        {% if privilege == 'admin' %}
         <select name="privilege" >
  		<option value="guest" selected={{details['privilege'] == 'guest'}} >Guest</option>
  		<option value="admin" selected={{details['privilege'] == 'admin'}} >Admin</option>
	</select>
        {% endif %}
         <br><br><br>
        <input class="btn btn-default" type="submit" value="Create">
      </form>  
       <br> <br> <br> <br>
      {% if message %}
         {{ message }}
      {% endif %}
       <br><br>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

