<!DOCTYPE html>
<html>
<body>

<h2>User_Details</h2>
<form action=""  method="post" >
  
  <input type="text" name="email" value="Email" readonly>
  
  <input type="text" name="name" value="Name" readonly>
  
  <input type="text" name="dob" value="Dob" readonly>
  
  <input type="text" name="hobby" value="Hobby" readonly>
  
</form> 

{% for user_details in user_details_list %}
<div>
<form action="{{ url_for('user_profile', email = user_details['email'] ) }}"  method="GET" >
  
  <input type="text" name="email" value="{{user_details['email']}}" readonly>
  
  <input type="text" name="name" value="{{user_details['name']}}" readonly>
  
  <input type="text" name="dob" value="{{user_details['dob']}}" readonly>
  
  <input type="text" name="hobby" value="{{user_details['hobby']}}"readonly>
  
  <input type="submit" value="Edit">
</form>
</div> 
{% endfor %}

{% if error %}
<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
{% endif %}

</body>
</html>

